/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
# no no do not stele info pls
/config/config.yaml
# no no do not have db pls
/lib/toadbot/database.db
# rspec failure tracking
.rspec_status
